.productCard {
    width: 100%;
    cursor:pointer
}

.image {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: white;
}